// Body
$white: #ffffff;
$black: #0e1317;
$accent: #505b62;
$primary: #2c5364;

$body-bg: $white;
$white-text: $white;
$green-text: #7cb342;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$barlow: "Barlow";
$playball: "Playball";

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
