// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css?family=Barlow:300,400,500,600,700,800|Playball|Poppins:300,400,500,600&display=swap");

main.main-body {
    margin-top: 55px;
}
body {
    font-family: Barlow;
}
