// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";
@import "core";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

//uikit
@import "node_modules/uikit/src/scss/variables-theme.scss";
@import "node_modules/uikit/src/scss/mixins-theme.scss";
@import "node_modules/uikit/src/scss/uikit-theme.scss";

@import url("https://fonts.googleapis.com/css?family=Barlow:300,400,500,600,700,800|Playball|Poppins:300,400,500,600&display=swap");

@font-face {
    font-family: signature;
    src: url("/fonts/shopping_script_demo.woff");
    src: url("/fonts/shopping_script_demo.woff2");
}
* {
    &:hover,
    &:focus,
    &:active,
    &.active {
        outline: none;
    }
}

.uk-overlay-primary {
    background: rgba(34, 34, 34, 0.67) !important;
}

.uk-box-shadow-medium {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
}

.uk-alert-danger {
    .uk-close {
        color: #f0506e;
    }
}

.uk-validation {
    &.true {
        .uk-form-label {
            color: #f0506e;
        }
        .uk-input,
        .uk-textarea {
            border-color: #f0506e;
        }
    }
}
.form-error {
    .is-danger {
        color: #f0506e;
        font-size: 12px;
    }
}

.main-header {
    background: linear-gradient(90deg, #0f2027, #203a43, #2c5364) !important;
    .login-register {
        margin-top: 10px;
        margin-bottom: 5px;
        margin-right: 15px;
        .uk-navbar-nav {
            &.admin-menu {
                > li {
                    > a {
                        color: $white;
                        min-height: 34px;
                    }
                }
            }
        }
        [class*="uk-navbar-dropdown-bottom"] {
            margin-top: 0px;
            background: $primary;
        }
        .uk-navbar-dropdown {
            padding: 0;
            li {
                padding: 5px 15px;
                border-bottom: 1px solid #264754;
                &:hover {
                    background: #506772;
                }
            }
        }
        .uk-navbar-dropdown-nav {
            > li {
                > a {
                    color: $white;
                }
            }
        }
    }
    .main-nav {
        .uk-navbar-nav {
            > li {
                > a {
                    color: $white;
                    min-height: 55px;
                }
                &:hover {
                    background: #506772;
                    color: $white;
                }
                &.uk-active > a {
                    background: #506772;
                    color: $white;
                }
            }
        }
        [class*="uk-navbar-dropdown-bottom"] {
            margin-top: 0px;
            background: $primary;
        }
        .uk-navbar-dropdown {
            padding: 0;
            li {
                padding: 5px 15px;
                border-bottom: 1px solid #264754;
                &:hover {
                    background: #506772;
                }
            }
        }
        .uk-navbar-dropdown-nav {
            > li {
                > a {
                    color: $white;
                }
            }
        }
        .uk-navbar-dropdown-width-1-5:not(.uk-navbar-dropdown-stack) {
            width: 300px;
        }
    }
    .navbar-toggler {
        position: relative;
        top: -14px;
        right: 15px;
        padding: 0 9px;
    }
}
.offcanvas-menu {
    li {
        margin: 0;
        padding: 10px 17px;
        border-bottom: 1px solid $accent;
        &:hover {
            background: $accent;
        }
    }
}

.uk-table-hover > tr:hover,
.uk-table-hover tbody tr:hover {
    background: $accent;
}

.navbar-brand {
    width: 141px;
    height: 49px;
}

.uk-open > .uk-offcanvas-bar {
    left: 0;
    padding: 0;
}

.res-menu-button {
    display: none;
    @media (max-width: 800px) {
        display: flex;
    }
}
.desktop-menu {
    display: flex;
    @media (max-width: 800px) {
        display: none;
    }
}

body {
    font-family: $barlow;
    background: #0e1317;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.7;
}
.white-text {
    color: $white-text;
}

.green-text {
    color: $green-text;
}
.playball {
    color: $green-text !important;
    font-family: $playball;
    &.border-bottom {
        border-bottom: 2px solid $green-text !important;
    }
}
.banner-text {
    text-align: center;
    h1 {
        color: darken($white-text, 20%) !important;
    }
    .white-text.playball {
        font-family: $playball;
        color: darken($white-text, 20%) !important;
    }
    @media (max-width: 800px) {
        h1 {
            font-size: 35px;
        }
        h3 {
            font-size: 22px;
        }
    }
    @media (max-width: 530px) {
        h1 {
            font-size: 28px;
        }
        h3 {
            font-size: 18px;
        }
    }
}

.material-design-icon.w25 {
    svg {
        width: 16% !important;
    }
}

.uk-tab::before {
    border-color: rgba(255, 255, 255, 0) !important;
}

.uk-tab > * > a {
    font-size: 25px;
    text-transform: capitalize;
}

.uk-tab > .uk-active > a {
    border-color: $green-text;
}

.paragraph {
    font-size: 1rem;
}

h1,
.uk-h1,
h2,
.uk-h2,
h3,
.uk-h3,
h4,
.uk-h4,
h5,
.uk-h5,
h6,
.uk-h6,
.uk-heading-small,
.uk-heading-medium,
.uk-heading-large,
.uk-heading-xlarge,
.uk-heading-2xlarge {
    margin: 0;
    font-family: $barlow;
}

* + h1,
* + .uk-h1,
* + h2,
* + .uk-h2,
* + h3,
* + .uk-h3,
* + h4,
* + .uk-h4,
* + h5,
* + .uk-h5,
* + h6,
* + .uk-h6,
* + .uk-heading-small,
* + .uk-heading-medium,
* + .uk-heading-large,
* + .uk-heading-xlarge,
* + .uk-heading-2xlarge {
    margin-top: 20px;
}

footer {
    border-top: 7px solid #4f5b62;
}

.copyright {
    background-color: $accent;
    color: darken($white, 30%);
    font-size: 12px;
    margin-top: 0 !important;
}

.list-group-item {
    background-color: transparent;
    border: none;
    border-radius: 0 !important;
    &.list-group-item-action {
        color: $white-text;
        font-size: 14px;
        border-bottom: 1px solid rgba($white, 0.19);
        &:hover,
        &:focus {
            background: rgba($white, 0.12);
            color: $white;
        }
    }
}

.social-icons-list {
    .list-group-item {
        padding-top: 7.5px;
        padding-bottom: 7.5px;
        .social-icon {
            padding: 5px;
            background: $accent;
            border-radius: 100%;
            display: inline-flex;
            width: 32px;
            height: 32px;
            align-items: center;
            justify-content: center;
            margin-right: 15px;
            span {
                width: 20px;
            }
        }
    }
}

.sidebar-list {
    font-size: 14px;
    border-bottom: 1px solid rgba($white, 0.19);
    &:hover,
    &:focus {
        background: rgba($white, 0.12);
        color: $white;
        a {
            text-decoration: none;
        }
    }
    .avatar.rounded-circle {
        display: inline-flex;
        width: 40px;
        height: 40px;
    }
}

.appbar {
    background: $primary !important;
}

.login-card,
.register-card {
    min-width: 700px;
    @media (max-width: 800px) {
        min-width: 1px;
    }
}

.uk-table th {
    padding: 16px 12px;
    text-align: left;
    vertical-align: bottom;
    font-size: 1rem;
    font-weight: normal;
    color: #7cb342;
    text-transform: uppercase;
}

.uk-table-divider > tr:not(:first-child),
.uk-table-divider > :not(:first-child) > tr,
.uk-table-divider > :first-child > tr:not(:first-child) {
    border-top: 1px solid $accent;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: $white !important;
    background-color: transparent;
    border: none;
    &:hover,
    &:focus {
        box-shadow: none !important;
    }
}

.uk-pagination > .uk-active > * {
    background: $accent !important;
    color: $white !important;
    &:hover,
    &:focus {
        background: $accent !important;
        color: $white !important;
    }
}

.uk-pagination > * > :hover,
.uk-pagination > * > :focus {
    background: transparent !important;
    color: $white !important;
}
.hiw-page-banner-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.77)),
        url(https://raw.githubusercontent.com/lotusms/LotusMS/master/pagebanners/howitworks.jpg)
            50% no-repeat;
}

.banner-overflow {
    height: 350px;
    overflow: hidden;
    .banner-offset {
        height: 100%;
        img {
            position: relative;
        }
        &.hit {
            img {
                // top: -200px;
                @media (max-width: 800px) {
                    top: 0px;
                }
            }
        }
    }
}

.cores {
    background: #4f5b62;
    border: 5px solid #539608;
    border-radius: 100% !important;
    width: 240px;
    height: 240px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;
}

.ms-thumbnail {
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
    img {
        position: relative;
        z-index: 0;
        transition: all ease 1s;
        width: 100%;
    }
    .ms-thumbnail-caption {
        position: absolute;
        z-index: 2;
        left: 0;
        right: 0;
        top: -100%;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 10, 18, 0.45);
        padding: 0;
        color: #fff;
        transition: all ease 0.5s;
        -webkit-backface-visibility: hidden;
        &:before {
            content: "";
            display: block;
            background-color: rgba(0, 10, 18, 0.45);
            position: absolute;
            left: 0;
            right: 0;
            top: 200%;
            bottom: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            transition: all ease 0.5s;
            -webkit-backface-visibility: hidden;
        }
        .ms-thumbnail-caption-content {
            -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
            transition: all ease 0.6s;
            -webkit-backface-visibility: hidden;
            padding: 20px;
            padding: 2rem;
            position: absolute;
            top: 50%;
            width: 100%;
            .ms-thumbnail-caption-title {
                margin: 0 0 10px;
                margin: 0 0 1rem;
            }
        }
    }
    &:hover,
    &:focus {
        img {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
        .ms-thumbnail-caption {
            top: 0;
            opacity: 1;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            &:before {
                top: 0;
            }
            .ms-thumbnail-caption-content {
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
            }
        }
    }
    &.ms-thumbnail-diagonal {
        .ms-thumbnail-caption {
            right: 100%;
            left: auto;
            &:before {
                right: -200%;
                left: auto;
            }
            .ms-thumbnail-caption-content {
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
            }
        }
        &:hover,
        &:focus {
            .ms-thumbnail-caption {
                right: 0;
                left: auto;
                &:before {
                    right: 0;
                    left: auto;
                }
                .ms-thumbnail-caption-content {
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
            }
        }
    }
}

h3 {
    color: #7cb342 !important;
    font-family: "Playball";
}

.excerpt h3 {
    display: none;
}
